<header class="sessions-header">
<h1>Solved</h1>
</header>
<div class="details">
  <div class="detail-titel">
    <h2><%= @problem.title %></h2>
    <%= @problem.created_at %>
  </div>
  <div class="detail-text">
    <p><%= @problem.text %></p>
  </div>
  <div class="edit-problem">
  <%= link_to "投稿を編集する" ,"#" ,class:"edit"%>
  </div>
  <div class="destroy-problem">
  <%= link_to "投稿を削除する" ,"#" ,class:"destroy", method: :delete%>
  </div>
</div>