<header class="sessions-header">
<h1>Solved</h1>
</header>
<div class="details">
  <div class="detail-title">
    <h2><%= @problem.title %></h2>
    <span clsss="user-name-show"><%= @problem.user.name %>さん</span>
    <p class="created-at"><%= @problem.created_at.strftime('%Y/%m/%d') %></p>
  </div>
  <div class="detail-text">
    <p><%= @problem.text %></p>
  </div>
    <div class="show-config">
    <% if user_signed_in? && current_user.id == @problem.user_id%>
      <div class="edit-problem">
      <%= link_to "投稿を編集する" ,edit_problem_path(@problem.id) ,class:"edit"%>
      </div>
      <div class="destroy-problem">
      <%= link_to "投稿を削除する" ,"#" ,class:"destroy", method: :delete%>
      </div>
      <%end%>
    </div>
</div>
  <div class="comments">
    <div class="container">
      <% if current_user %>
        <%= form_with(model: [@problem, @comment], local: true) do |form| %>
          <%= form.text_area :comment_text, placeholder: "コメントする", rows: "2" %>
          <%= form.submit "SEND" %>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
    </div>
    <div class="comment-list">
      <h4>コメント一覧</h4>
      <% @comments.each do |comment| %>
      <div class="comment-text-lists">
        <p><%= comment.created_at %></p>
        <div class="comment-textes">
          <p><%= comment.user.name %></p>
          <p><%= comment.comment_text %>
        </div>
      </div>
      <%end%>
    </div>
  </div>