<%= render partial: "problems/header2" %>

<%= form_with model: @user, url: profile_update_user_path(@user.id) ,method: :patch, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      プロフィール編集
    </h1>
  </div>

  <%= render 'shared/error_messages', model: f.object %>


  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ユーザーネーム</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :name, class:"input-default", id:"user-name", placeholder:"お好きな名前を入力してください", maxlength:"40" %>
  </div>
  
  
  <div class="form-group">
    <p class='form-info-header'>
      自己紹介
    </p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">自己紹介文</label>
      <span class="indispensable">任意</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :self_introduction, class:"input-name", id:"first-name", placeholder:"例) 山田" %>
      
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">性別</label>
      <span class="indispensable">任意</span>
    </div>
    <div class='form-jender'>
      <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"jender", id:""})%>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">生年月日</label>
      <span class="indispensable">任意</span>
    </div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
                  f.date_select(
                    :birthday,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year - 5),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
  </div>
  
  <div class='register-btn'>
    <%= f.submit "更新" ,class:"register-red-btn" %>
  </div>
</div>
<% end %>