<%= render partial: "problems/header2" %>

<div class='problems'>
<% @problems.each do |problem| %> 
  <div class='problem-lists'>
 
    <div class="user-names">
    <%= link_to profile_user_path(@user.id), method: :get do%>
      <h2><%= @name %></h2>
    <%end%>
    </div>
     <%= link_to problem_path(problem.id),class:"link-title", method: :get do %>
    <div class="problem-text">
      <h2 class="problem"><%= problem.title %></h2>
    </div>
    <% end %>
    
  </div>
  <% end %>
</div>

<div class='purchase-btn'>
  <a class='purchase-btn-text' href="/problems/new"><span class=problem-mark>Q</span>お悩み相談する</a>
  
</div>